_bk
_t.lua

/.rocks
/lua_modules
/lua_types

/nginx/temp
/nginx/logs
/nginx/testing
/nginx/app/demo*

/site/temp
/site/orpm.sh

/docker/dist

*.zip
*.csv

# **/conf/cert/domains.json
# **/conf/cert/*-acc.pem
# **/conf/cert/*-key.pem
# **/conf/cert/*-crt.pem
**/conf/cert/*-tmp.pem
